<% title "Pro Analytics" %>

<div class="dashboard-container pro-container" id="user-dashboard">
  <a href="/dashboard" class="rounded-btn rounded-btn--transparent">👈 Back to Main Dashboard</a>

  <section class="header-card card">
    <h1 class="pro-header">Reader Stats</h1>
    <p>Welcome to the Reader Stats Dashboard, the home of user metrics so that you can see how much time you have spent cultivating your learning as a developer.</p>
  </section>

  <%= render "shared/reader_stats" %>
</div>

<%= javascript_pack_tag "statsDashboard", defer: true %>
